@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: white;
    }
}

section {
    margin: 1rem 0;
}

table {
    text-align: left;
}

table.two-col{
    width: 100%;

    tr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%
    }
}

.important-banner {
    padding: 2rem;
    background-color: tomato;
}

.hidden {
    display: none;
}
