@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: white;
    }
}

section {
    margin: 1rem 0;
}

table {
    text-align: left;
}

tr {
    border-bottom-width: 1px;
}

.important-banner {
    padding: 2rem;
    background-color: tomato;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hidden {
    display: none;
}
