@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: white;
    }
}

section {
    margin: 1rem 0;
}

table {
    text-align: left;
}

td {
    padding: 1rem 0;
}

h2 {
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.two-col-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.span-2 {
    grid-column: span 2;
}

.important-banner {
    padding: 2rem;
    background-color: tomato;
}

.hidden {
    display: none;
}

.example-display {
    padding: 1rem;
    border: 1px solid white;

    /* In the grid, don't stretch these. That should make is visually clearer which elements create shift and which don't */
    justify-self: start;
    align-self: start;
}
