@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: white;
    }
}

a {
    text-decoration: underline;

    &:hover {
        text-decoration: dotted underline;
    }

}

@media (prefers-color-scheme: dark) {
    a,
    a:visited {
        color: white;
        background-color: black;
    }
}
